</div>
<footer class="navbar fixed-bottom">
    <div class="container-fluid">
        <p>© 2020 Dorfladen BBZW</p>
    </div>
</footer>
</div>
</body>
<script src="/js/appFrontend.js"></script>
</script>

</html>