<nav class="navbar navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">BBZW Dorfladen</a>
    <a href="/cart">
      <button id="miniCart" class="float-end btn btn-outline fs-3 mb-6">
        <div>
          <img style="height: 36px" src="/icon/cart.svg" alt="Cart" />
          <span id="cartBadge" class="badge bg-dark"></span>
          <span id="cartText">0</span>
        </div>
      </button>
    </a>
  </div>
</nav>
<div class="container-fluid my-8"></div>
